<div *ngIf="openSecondsuccess" class="modal-container-success fixed top-4 right-4 z-50 max-w-sm" [@slideIn]
    role="dialog">
    <div class="bg-green-50 border border-green-200 rounded-lg shadow-lg">
        <div class="p-4 flex items-center space-x-3">
            <span class="text-green-600 text-xl"><i class="fa-solid fa-check"></i></span>
            <p class="text-green-800 font-semibold text-lg">Login successful!</p>
        </div>
    </div>
</div>

<mat-tab-group class="dashboard-tabs" [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Overview">
    <ng-template matTabContent>
        <app-dashboard-overview></app-dashboard-overview>
    </ng-template>
  </mat-tab>
  <mat-tab label="Dumper Fleet Dashboard">
    <ng-template matTabContent>
        <app-dashboard-2></app-dashboard-2>
    </ng-template>
  </mat-tab>
</mat-tab-group>