.login {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media (max-width: 768px) {
    .login-content {
        width: 100% !important;
        margin-bottom: 1rem;
    }

    .logo-img {
        max-width: 100px;
        margin-top: 20px;
        height: 40px;
    }
}

.logo-img {
    max-width: 140px;
    margin-top: 50px;
    height: 50px;
}

.orange-card {
    color: #d66112;
}
