/* Employee Register (Form A/B) Table Styles */
tbody td.sticky-col {
  position: sticky;
  background-color: white !important;
  z-index: 10 !important;
}

thead th.sticky-col {
  position: sticky;
  background-color: var(--primary-color) !important;
  color: white !important;
  z-index: 20;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 20;
}